@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mapboxgl-control-container {
  display: none !important;
}

body {
  margin: 0;
}
input[type="range"]::-webkit-slider-thumb {
  background-color: #fff;
  box-shadow:
    0 6px 15px 1px rgb(0 0 0 / 0.2),
    0 2px 6px -3px rgb(0 0 0 / 0.2);

  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s ease-out;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-thumb {
  height: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.16);
  transition: 0.3s ease-out;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.24);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.16);
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.24);
  }
}
